.dark-bg {
  background-image: url("./fonts/main_bg.jpg");
  background-size: cover;
  height: 400px;
  background-position: center center;
  background-attachment: fixed;
}
#hero .container {
  height: 50vh;
}
.generic {
  padding: 10px 0;
}
/* .bottomM {
  margin-bottom: 15px;
}
.label {
  margin-left: 0px;
}
.label1 {
  margin-left: 0px;
}
.label2 {
  margin-left: 100px;
} */
section#latest .latest-item img {
  min-height: 100%;
  width: 100%;
}
section#latest button {
  max-height: 250px;
  padding: 0;
  overflow: hidden;
}
section#latest .latest-item {
  position: relative;
}
section#latest .latest-item:hover .overlay {
  opacity: 1;
  background: rgba(189, 61, 75, 0.9);
}
section#latest .latest-item:hover i {
  opacity: 1;
  transform: none;
}
section#latest .overlay {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(189, 61, 75, 1);
  opacity: 0.5;
  /* justify-content: space-between; */
  /* align-items: center; */
}
.b {
  margin-top: 110px;
}
.mb {
  margin-bottom: 100px;
}
.cardMarj {
  margin-inline-end: 75px;
}
.mt {
  margin-top: 175px;
}
/* .my {
  margin-top: 100px;
} */
